*{
    margin: 0px;
}

div{
   
}
a{
    color: white;
    text-decoration: none;
}
.general{
    text-align:center ;
    padding-left: 20%;
    padding-top: 3px;
    padding-right: 20%;
    padding-bottom: 20%;
}
.buscador{
    width: 80%;
    display: inline-block;
    border-style: solid;
            border-radius: 5px;
        text-align: center;
        opacity: 0.5;

    
}
.categorias{
    width: 12%;
    display: inline-block;
    border-style: solid;
            border-radius: 5px;
            border-color: blueviolet;
            color: blueviolet;

}
.card{
    display: inline-block;
    width: 15%;
    background-color: blueviolet;
    padding-bottom: 15px;
        border-radius: 5px;
        

}
.banner{
    width: 70%;
    border-radius: 10px;
}
.contenedor{
    padding: 10px;
}
.cards{
   padding: 10px;
       border-radius: 5px;
       padding: 0px;

}
.fila1, .fila2{
padding: 10px;

}
.encabezado{
    background-color: rgb(140, 156, 209);
}
nav{
    width: 100%;
    display: inline-block;
     text-align: center; 
   padding: 5px;
   background-color: rgb(152, 176, 219);
   
}
.imgnav{
  height: 100%;
  width: 50%;
  padding-right: 20%;
  margin-right: 40%;
}

.navimg{
    width: 10%;
    height: 100%;
    padding-left: 10px;
}
.card img{
    width: 100%;
}
span{
    color: white;
    margin-top: 5px;
}
 h3{
    opacity: 0.5;
 }
 .info{
    padding: 2px;
    width: 100%;
 }
 .logo{
     display: inline-block;
    width: 15%;
        margin-right: 5px;

 }
 .logito{
    
    width: 30%;
    background-color: rgb(137, 172, 238);
        border-radius: 50%;
                border-style: solid;
                

 }
