div{
    padding: 5px; 
}
#principal{

border-style: solid;
width: 50%;
}


#centro{


}
img{
    display: inline-block;
    width: 30%;
}
#nombre{
    width: 50%;
        display: inline-block;




}
#info{
    width: 10%;
        display: inline-block;




}
#foto{
    width: 30%;
    display: inline-block;
border-radius: 50%;
    align-items: center;


}
